/Attachable.class
/Bed.class
/Button.class
/Cake.class
/Cauldron.class
/Chest.class
/Coal.class
/CocoaPlant$CocoaPlantSize.class
/CocoaPlant.class
/Colorable.class
/Command.class
/Crops.class
/DetectorRail.class
/Diode.class
/Directional.class
/DirectionalContainer.class
/Dispenser.class
/Door.class
/Dye.class
/EnderChest.class
/ExtendedRails.class
/FlowerPot.class
/Furnace.class
/FurnaceAndDispenser.class
/Gate.class
/Ladder.class
/Leaves.class
/Lever.class
/LongGrass.class
/MaterialData.class
/MonsterEggs.class
/Mushroom.class
/NetherWarts.class
/Openable.class
/PistonBaseMaterial.class
/PistonExtensionMaterial.class
/PoweredRail.class
/PressurePlate.class
/PressureSensor.class
/Pumpkin.class
/Rails.class
/Redstone.class
/RedstoneTorch.class
/RedstoneWire.class
/Sandstone.class
/Sign.class
/SimpleAttachableMaterialData.class
/Skull.class
/SmoothBrick.class
/SpawnEgg.class
/Stairs.class
/Step.class
/TexturedMaterial.class
/Torch.class
/TrapDoor.class
/Tree.class
/Tripwire.class
/TripwireHook.class
/Vine.class
/WoodenStep.class
/Wool.class
