/BannerMeta.class
/BlockDataMeta.class
/BlockStateMeta.class
/BookMeta$Generation.class
/BookMeta.class
/CompassMeta.class
/CrossbowMeta.class
/Damageable.class
/EnchantmentStorageMeta.class
/FireworkEffectMeta.class
/FireworkMeta.class
/ItemMeta.class
/KnowledgeBookMeta.class
/LeatherArmorMeta.class
/MapMeta.class
/PotionMeta.class
/Repairable.class
/SkullMeta.class
/SpawnEggMeta.class
/SuspiciousStewMeta.class
/TropicalFishBucketMeta.class
/package-info.class
