/BookMeta.class
/EnchantmentStorageMeta.class
/FireworkEffectMeta.class
/FireworkMeta.class
/ItemMeta.class
/LeatherArmorMeta.class
/MapMeta.class
/PotionMeta.class
/Repairable.class
/SkullMeta.class
