/CreatureSpawnEvent$SpawnReason.class
/CreatureSpawnEvent.class
/CreeperPowerEvent$PowerCause.class
/CreeperPowerEvent.class
/EntityBreakDoorEvent.class
/EntityChangeBlockEvent.class
/EntityCombustByBlockEvent.class
/EntityCombustByEntityEvent.class
/EntityCombustEvent.class
/EntityCreatePortalEvent.class
/EntityDamageByBlockEvent.class
/EntityDamageByEntityEvent.class
/EntityDamageEvent$DamageCause.class
/EntityDamageEvent$DamageModifier.class
/EntityDamageEvent.class
/EntityDeathEvent.class
/EntityEvent.class
/EntityExplodeEvent.class
/EntityInteractEvent.class
/EntityPortalEnterEvent.class
/EntityPortalEvent.class
/EntityPortalExitEvent.class
/EntityRegainHealthEvent$RegainReason.class
/EntityRegainHealthEvent.class
/EntityShootBowEvent.class
/EntityTameEvent.class
/EntityTargetEvent$TargetReason.class
/EntityTargetEvent.class
/EntityTargetLivingEntityEvent.class
/EntityTeleportEvent.class
/EntityUnleashEvent$UnleashReason.class
/EntityUnleashEvent.class
/ExpBottleEvent.class
/ExplosionPrimeEvent.class
/FoodLevelChangeEvent.class
/HorseJumpEvent.class
/ItemDespawnEvent.class
/ItemSpawnEvent.class
/PigZapEvent.class
/PlayerDeathEvent.class
/PlayerLeashEntityEvent.class
/PotionSplashEvent.class
/ProjectileHitEvent.class
/ProjectileLaunchEvent.class
/SheepDyeWoolEvent.class
/SheepRegrowWoolEvent.class
/SlimeSplitEvent.class
