/Achievement.class
/Art.class
/BanEntry.class
/BanList$Type.class
/BanList.class
/BlockChangeDelegate.class
/Bukkit.class
/ChatColor.class
/Chunk.class
/ChunkSnapshot.class
/CoalType.class
/Color.class
/CropState.class
/Difficulty.class
/DyeColor.class
/Effect$Type.class
/Effect.class
/EntityEffect.class
/FireworkEffect$Builder.class
/FireworkEffect$Type.class
/FireworkEffect.class
/GameMode.class
/GrassSpecies.class
/Instrument.class
/Location.class
/Material.class
/NetherWartsState.class
/Note$Tone.class
/Note.class
/OfflinePlayer.class
/PortalType.class
/Rotation.class
/SandstoneType.class
/Server.class
/SkullType.class
/Sound.class
/Statistic$Type.class
/Statistic.class
/TravelAgent.class
/TreeSpecies.class
/TreeType.class
/UnsafeValues.class
/Utility.class
/Warning$WarningState.class
/Warning.class
/WeatherType.class
/World$Environment.class
/World.class
/WorldCreator.class
/WorldType.class
