/Ageable.class
/Ambient.class
/AnimalTamer.class
/Animals.class
/Arrow.class
/Bat.class
/Blaze.class
/Boat.class
/CaveSpider.class
/Chicken.class
/ComplexEntityPart.class
/ComplexLivingEntity.class
/Cow.class
/Creature.class
/CreatureType.class
/Creeper.class
/Damageable.class
/Egg.class
/EnderCrystal.class
/EnderDragon.class
/EnderDragonPart.class
/EnderPearl.class
/EnderSignal.class
/Enderman.class
/Entity.class
/EntityType.class
/ExperienceOrb.class
/Explosive.class
/FallingBlock.class
/FallingSand.class
/Fireball.class
/Firework.class
/Fish.class
/Flying.class
/Ghast.class
/Giant.class
/Golem.class
/Hanging.class
/Horse$Color.class
/Horse$Style.class
/Horse$Variant.class
/Horse.class
/HumanEntity.class
/IronGolem.class
/Item.class
/ItemFrame.class
/LargeFireball.class
/LeashHitch.class
/LightningStrike.class
/LivingEntity.class
/MagmaCube.class
/Minecart.class
/Monster.class
/MushroomCow.class
/NPC.class
/Ocelot$Type.class
/Ocelot.class
/Painting.class
/Pig.class
/PigZombie.class
/Player.class
/PoweredMinecart.class
/Projectile.class
/Sheep.class
/Silverfish.class
/Skeleton$SkeletonType.class
/Skeleton.class
/Slime.class
/SmallFireball.class
/Snowball.class
/Snowman.class
/Spider.class
/Squid.class
/StorageMinecart.class
/TNTPrimed.class
/Tameable.class
/ThrownExpBottle.class
/ThrownPotion.class
/Vehicle.class
/Villager$Profession.class
/Villager.class
/WaterMob.class
/Weather.class
/Witch.class
/Wither.class
/WitherSkull.class
/Wolf.class
/Zombie.class
