/AbstractArrow$PickupStatus.class
/AbstractArrow.class
/AbstractHorse.class
/AbstractVillager.class
/Ageable.class
/Ambient.class
/AnimalTamer.class
/Animals.class
/AreaEffectCloud.class
/ArmorStand$LockType.class
/ArmorStand.class
/Arrow.class
/Bat.class
/Bee.class
/Blaze.class
/Boat.class
/Boss.class
/Breedable.class
/Cat$Type.class
/Cat.class
/CaveSpider.class
/ChestedHorse.class
/Chicken.class
/Cod.class
/ComplexEntityPart.class
/ComplexLivingEntity.class
/Cow.class
/Creature.class
/Creeper.class
/Damageable.class
/Dolphin.class
/Donkey.class
/DragonFireball.class
/Drowned.class
/Egg.class
/ElderGuardian.class
/EnderCrystal.class
/EnderDragon$Phase.class
/EnderDragon.class
/EnderDragonPart.class
/EnderPearl.class
/EnderSignal.class
/Enderman.class
/Endermite.class
/Entity.class
/EntityCategory.class
/EntityType.class
/Evoker$Spell.class
/Evoker.class
/EvokerFangs.class
/ExperienceOrb.class
/Explosive.class
/FallingBlock.class
/Fireball.class
/Firework.class
/Fish.class
/FishHook.class
/Flying.class
/Fox$Type.class
/Fox.class
/Ghast.class
/Giant.class
/Golem.class
/Guardian.class
/Hanging.class
/Hoglin.class
/Horse$Color.class
/Horse$Style.class
/Horse.class
/Horse$Variant.class
/HumanEntity.class
/Husk.class
/Illager.class
/Illusioner.class
/IronGolem.class
/Item.class
/ItemFrame.class
/LargeFireball.class
/LeashHitch.class
/LightningStrike.class
/LingeringPotion.class
/LivingEntity.class
/Llama$Color.class
/Llama.class
/LlamaSpit.class
/MagmaCube.class
/Minecart.class
/Mob.class
/Monster.class
/Mule.class
/MushroomCow$Variant.class
/MushroomCow.class
/NPC.class
/Ocelot$Type.class
/Ocelot.class
/Painting.class
/Panda$Gene.class
/Panda.class
/Parrot$Variant.class
/Parrot.class
/Phantom.class
/Pig.class
/PigZombie.class
/Piglin.class
/PiglinAbstract.class
/PiglinBrute.class
/Pillager.class
/Player.class
/PolarBear.class
/Pose.class
/Projectile.class
/PufferFish.class
/Rabbit$Type.class
/Rabbit.class
/Raider.class
/Ravager.class
/Salmon.class
/Sheep.class
/Shulker.class
/ShulkerBullet.class
/Silverfish.class
/Sittable.class
/SizedFireball.class
/Skeleton$SkeletonType.class
/Skeleton.class
/SkeletonHorse.class
/Slime.class
/SmallFireball.class
/Snowball.class
/Snowman.class
/SpectralArrow.class
/Spellcaster$Spell.class
/Spellcaster.class
/Spider.class
/SplashPotion.class
/Squid.class
/Steerable.class
/Stray.class
/Strider.class
/TNTPrimed.class
/Tameable.class
/ThrowableProjectile.class
/ThrownExpBottle.class
/ThrownPotion.class
/TippedArrow.class
/TraderLlama.class
/Trident.class
/TropicalFish$Pattern.class
/TropicalFish.class
/Turtle.class
/Vehicle.class
/Vex.class
/Villager$Profession.class
/Villager$Type.class
/Villager.class
/Vindicator.class
/WanderingTrader.class
/WaterMob.class
/Witch.class
/Wither.class
/WitherSkeleton.class
/WitherSkull.class
/Wolf.class
/Zoglin.class
/Zombie.class
/ZombieHorse.class
/ZombieVillager.class
/package-info.class
