/Beacon.class
/Biome.class
/Block.class
/BlockFace.class
/BlockState.class
/BrewingStand.class
/Chest.class
/CommandBlock.class
/ContainerBlock.class
/CreatureSpawner.class
/Dispenser.class
/DoubleChest.class
/Dropper.class
/Furnace.class
/Hopper.class
/Jukebox.class
/NoteBlock.class
/PistonMoveReaction.class
/Sign.class
/Skull.class
