/FixedMetadataValue.class
/LazyMetadataValue$CacheStrategy.class
/LazyMetadataValue.class
/MetadataConversionException.class
/MetadataEvaluationException.class
/MetadataStore.class
/MetadataStoreBase.class
/MetadataValue.class
/MetadataValueAdapter.class
/Metadatable.class
