/MapInitializeEvent.class
/PluginDisableEvent.class
/PluginEnableEvent.class
/PluginEvent.class
/RemoteServerCommandEvent.class
/ServerCommandEvent.class
/ServerEvent.class
/ServerListPingEvent.class
/ServiceEvent.class
/ServiceRegisterEvent.class
/ServiceUnregisterEvent.class
