/MapCanvas.class
/MapCursor$Type.class
/MapCursor.class
/MapCursorCollection.class
/MapFont$CharacterSprite.class
/MapFont.class
/MapPalette.class
/MapRenderer.class
/MapView$Scale.class
/MapView.class
/MinecraftFont.class
