/AbstractHorseInventory.class
/AnvilInventory.class
/BeaconInventory.class
/BlastingRecipe.class
/BlockInventoryHolder.class
/BrewerInventory.class
/CampfireRecipe.class
/CartographyInventory.class
/ComplexRecipe.class
/CookingRecipe.class
/CraftingInventory.class
/DoubleChestInventory.class
/EnchantingInventory.class
/EntityEquipment.class
/EquipmentSlot.class
/FurnaceInventory.class
/FurnaceRecipe.class
/GrindstoneInventory.class
/HorseInventory.class
/Inventory.class
/InventoryHolder.class
/InventoryView$Property.class
/InventoryView.class
/ItemFactory.class
/ItemFlag.class
/ItemStack.class
/LecternInventory.class
/LlamaInventory.class
/LoomInventory.class
/MainHand.class
/Merchant.class
/MerchantInventory.class
/MerchantRecipe.class
/PlayerInventory.class
/Recipe.class
/RecipeChoice$ExactChoice.class
/RecipeChoice$MaterialChoice.class
/RecipeChoice.class
/ShapedRecipe.class
/ShapelessRecipe.class
/SmithingInventory.class
/SmithingRecipe.class
/SmokingRecipe.class
/StonecutterInventory.class
/StonecuttingRecipe.class
/package-info.class
